/activate_env.txt
/Music_Analysis/ML/jim2012Chords.zip
/Music_Analysis/ML/sample/
/Music_Analysis/ML/Guitar_Chords/
/Music_Analysis/Music_Analysis/pyenv.cfg
/Music_Analysis/bin
/Music_Analysis/lib
/Music_Analysis/lib64
/Music_Analysis/share
/Music_Analysis/include
/Music_Analysis/Datasets
/Music_Analysis/utils/__pycache__/
